<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="bSDBConnection" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BankingSystem;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
        <add key="UpdateAccounts" value="SP_UpdateAccounts" />
        <add key="UpdateCredentials" value="SP_UpdateCredentials" />
        <add key="UpdateCheque" value="SP_UpdateCheque" />
        <add key="UpdateTransactions" value="SP_UpdateTransactions" />
    </appSettings>
</configuration>